---
title: "Harvesting cultural heritage data through LDES or IIIF-CD: conflicts and compatibilities"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Vidyashree Tarikere', 'mailto:vidyashree.tarikere@ugent.be', ''%> 

{:#affiliations}
- {:#myaffiliation} IDLab, Department of Electronics and Information Systems, Ghent University -- imec

<%= section 'abstract' %>

</header>

<main>
  <!-- Add sections by specifying their file name, excluding the '.md' suffix. -->
  <%= section 'introduction' %>
  <%= section 'conclusion' %>
</main>

<footer></footer>
